.blocklyMainBackground {
    stroke-width: unset;
    stroke: unset;
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: 4px;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    height: unset;
    padding: 5px;
    margin-top: 3px;
    border-radius: 4px;
}

.blocklyTreeLabel {
    font-weight: bold;
}

.blocklyToolboxDiv {
    border-right: 1px solid;
}

.blocklyCommentTextarea {
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.defaultLabel > .blocklyFlyoutLabelText {
    font-style: italic;
    fill: green;
}
