.blocklyMainBackground {
    stroke-width: unset;
    stroke: unset;
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: 4px;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    height: unset;
    padding: 2px;
    margin-top: 3px;
    border-radius: 4px;
}
.blocklyTreeRowContentContainer {
    margin-left: 10px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
}

.blocklyTreeLabel {
    font-weight: bold;
}

.blocklyToolboxDiv {
    border-right: 1px solid;
}

.blocklyCommentTextarea {
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.defaultLabel > .blocklyFlyoutLabelText {
    font-style: italic;
    fill: green;
}

.blocklyPath {
    stroke-width: 3px;
    transition: stroke .4s;
    transform-origin: 0px 0px;
    margin: 4px;
}

.blocklyToolboxDiv {
    overflow-y: auto;
    overflow-x: hidden;
}

.blocklyToolboxDiv::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.blocklyToolboxDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

.blocklyToolboxDiv::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f1c232;
}
